.part1{
    color:white;
    background-color: black;
}
#red{
    color: red;
}
.part2{
    color: green;
    background-color: black;
}
.part3{
   color: green; 
}
.part4{
    color:rgb(0, 12, 0);
}
.csym019{
    color: black;
    background-color: aqua;
    display: block;
    float: left;
    width:fit-content

}
.csym015{
    color: black;
    background-color:goldenrod;
    display: block;
    float: right;
    width: fit-content

}
